<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1047592815932-sd6cg64or6i5ks9nnjd78e2djjspn5o8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047592815932-sd6cg64or6i5ks9nnjd78e2djjspn5o8</string>
	<key>API_KEY</key>
	<string>AIzaSyA4K6gYs8V4iaRt_O6qXQg2NScNvBknFp0</string>
	<key>GCM_SENDER_ID</key>
	<string>1047592815932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Kaspon.SchwingStetter</string>
	<key>PROJECT_ID</key>
	<string>tvsclayton</string>
	<key>STORAGE_BUCKET</key>
	<string>tvsclayton.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047592815932:ios:9b5cc030296ad494</string>
	<key>DATABASE_URL</key>
	<string>https://tvsclayton.firebaseio.com</string>
</dict>
</plist>